[Unit]
Description=DroneSwarm Client Service
After=network.target clover.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/DroneSwarm/drone
ExecStart=/usr/bin/python3 /home/pi/DroneSwarm/drone/client.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target