[Unit]
Description=DroneSwarm Client Service
After=network.target clover.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/droneswarm/drone_client/client.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target